---
import Layout from 'src/layouts/Layout.astro';
import ExampleButton from 'src/components/ExampleButton.astro';
---

<Layout lang="en" title="Astro Basics" description="Astro Basics" author="Komiya"></Layout>
    <div class="flex justify-center items-center h-screen">
        <ExampleButton />
    </div>
</Layout>
