---
import Layout from 'src/layouts/Layout.astro';
import Hero from 'src/features/Hero.tsx';
import About from 'src/features/About.tsx';
import Qualifications from 'src/features/Qualifications';
import Courses from 'src/features/Courses';
import Sponsors from 'src/features/Sponsors';

import { cn } from 'src/lib/utils';
import { Gap, Padding } from 'src/styles/constant';

const mainContentClasses = cn(
	Gap['15-25'],
	Padding.y['10-20-30'],
	'grid grid-cols-1',
	'bg-linear-to-b from-white to-[#FCE2F0] dark:from-[#B2B2B2] dark:to-[#B09DAA]',
);
---

<Layout lang="en" title="Astro Basics" description="Astro Basics" author="Komiya">
    <Hero />
    <div class={mainContentClasses}>
        <About client:visible />
        <Qualifications client:visible />
        <Courses client:visible />
        <Sponsors client:visible />
    </div>
</Layout>
